/* Coolors Exported Palette - coolors.co/f93640-60605e-1d3260-1f477c-237ba0 */
/* RGB */
$color1: rgba(249, 54, 64, 1);
$color2: rgba(96, 96, 94, 1);
$color3: rgba(29, 50, 96, 1);
$color4: rgba(31, 71, 124, 1);
$color5: rgba(35, 123, 160, 1);